:host {
  display: block;
}

/* Refresh Button Animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: rotate 1s linear infinite;
}

.refresh-button {
  flex-shrink: 0;
}
