:host {
    display: block;
}

.table-container {
    background: white;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    overflow: hidden;
}

.datatable-wrapper {
    height: 600px;
}

.slds-align_absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
