:host {
  display: block;
}

.table-container {
  background: white;
  position: relative;
  border: 1px solid var(--slds-g-color-border-1, #dddbda);
  border-radius: 0.25rem;
  overflow: hidden;
}

.datatable-wrapper {
  width: 100%;
}
